<!-- views/partials/footer.ejs -->

<link rel="stylesheet" href="/assets/css/social.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>

<div class="grid-container-full">
    <div class="footer1">
        <div id="social">
            <a class="facebook-button social-button" href="#" ></a>
            <a class="twitter-button social-button" href="#" ></a>
            <a class="instagram-button social-button" href="#" ></a>
          </div>
    </div>
</div>

</footer>

</body>
</html>