<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <title>Rørdal Run</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>

    <body>

    <header>
        <div class="sidebar">
            <nav>
                <a class="active" href="/">Forside</a>
                    <a href="#">Om Rørdal Run</a>
                    <a href="/distancer">Distancer</a>
                    <a href="/deltagerliste">Deltagerliste</a>
                    <a href="/tilmelding">Tilmelding</a>
                <a href="/login">Login</a>
            </nav>
        </div>
                  
</header>

    